.carousel {
    margin:auto;
    width: 60%;
    border-radius: 30px;
}

.carousel .overlay {
    width: 80%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left:10%;
    text-align: left;
    color: #4C4B16;
}

.carousel .overlay-title {
    margin-right:50%;
}

.carousel .button {
    background-color:#4C4B16;
}

.carousel .thumbs {
    display: none;
}


@media screen and (max-width: 600px) {
    .carousel .slide img {
        width: 100 vw !important;
        height: 40vh;
        object-fit: cover;
    }
}
    
