
.active {
    background-color: blueviolet;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background-color: #f7f1e5;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav .title {
    font-size: 1.5rem;
    margin:1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: none;
    text-decoration: none;
    color: grey;
    padding: 0.5rem;
    margin : 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color: darkorchid;
}

nav .menu {
    position: absolute;
    top: 0.5rem;
    flex-direction: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none; 
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    } 

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem; 
    }
}
    
